# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
    
    1. Python
    2. R
    3. Scala

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. MatPlotLib
4. Seaborn

| Data Science Tools |
| ------------------ |
| Kibana |
| TensorFlow Serving |
| Jupyter IDE |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to multiply then add integers.

(3*4)+5

17

In [3]:
#This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

**Objectives**

* List Popular Languages for Data Science
* List some tools open source used for Data Science
* Make simple arithmetic expression
* Make table with markdown cell
* List some Libraries used by Data Science

## Author

Thiago Lobo Leite